$primary-color1:#495E47;
$primary-color2:#F4CE14;

.header{
    margin:0;
    header{
        background-color: $primary-color1;
        padding: 5em 10em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        h1{
            margin-top: 0;
        }
    }
}
body{
    .specials{
        padding: 3em 10em ;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        div{
            display: grid;
            justify-content: end;

        }
        button{
            width: 10em;
        }
    }

    #menuCard,#ratingcard{
        padding: 0 10em;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #ratings{
        display: grid;
        padding: 9em 0;
        margin-top: 5em;
        background-color: $primary-color2;
        h1{
            text-align: center;
            margin: 0;
        }
    }
    #ratingcard{
        grid-template-columns: repeat(4,1fr);
    }

    .headerbody{
        background-color: white;
        padding-top: 10em;
    }
}