#navbar{
    display: flex;
    justify-content: center;
    padding: 2em 0;
    .navlist{
        display: flex;
        li{
            list-style: none;
            padding: 0 1em;
        }
    }
}